/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
:root {
  --purple-1: #251D3A;
  --purple-2: #2A2550;
  --orange-1: #E04D01;
  --orange-2: #FF7700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F9;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#root {
  
  max-width: 43.75rem;
  min-height: 100vh;
  padding: 4rem 2rem 2.5rem 2rem;
  margin: 0 auto;
}
