.Icon-container {
    cursor: pointer;
    position: relative;
    font-size: 3rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.Icon-container--check {
    margin-right: 1rem;
}

.Icon-svg {
    width: 25px;
    height: 25px;
    transition: fill .15s;
    position: absolute;
    bottom: -1px;
}

.Icon-container:hover .Icon-svg--check {
    fill: #4caf50;
}

.Icon-container:hover .Icon-svg--delete {
    fill: red;
}